@use 'util';

.BaseLayoutContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: util.$background-color;
  color: util.$text-color;
}

h1,
h3,
h4 {
  text-align: center;
  font-variant: small-caps;
}

h4 {
  font-size: smaller;
}

.BaseMain {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  section {
    flex-direction: column;
    width: fit-content;
    gap: 1em;
  }
}

.BaseFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  border: util.$border;
  border-radius: util.$border-radius;
}

.controlbar {
  border: util.$border;
  border-radius: util.$border-radius;
  overflow-y: scroll;
  background-color: util.$control_background;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .ControlPanel {
    display: flex;
    flex-direction: column;
    background-color: util.$control_background;

    .active:after {
      content: '\2796'; /* Unicode character for "minus" sign (-) */
    }

    .accordion {
      background-color: hsl(0, 0%, 90%);
      font-variant: small-caps;
      font-size: larger;
      color: black;
      cursor: pointer;
      padding: 18px;
      text-align: left;
      transition: 0.4s;

      /* Overwrite button styling*/
      border: none;
      outline: none;
      width: 100%;
      &:hover {
        background-color: util.$active_highlight;
        transition: 0.2s;
      }

      //switch + with - when controls are extendet
      &::after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
      }
    }

    .panel {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      .panelitem {
        display: flex;
        flex-direction: row;

        .panelitemlabel {
          flex: 2;
        }

        .panelitemvalue {
          flex: 3;
        }
      }
    }
  }
}

.numberInput {
  display: flex;
  gap: 0.5rem;
}

.draftcanvas,
.repeatcanvas {
  border: util.$border;
  border-radius: util.$border-radius;
}

.selected {
  border: 2px solid util.$text-border-color;
}

.copyright {
  background-color: util.$control_background;
  border: util.$border;
  border-radius: util.$border-radius;

  display: block;
  width: 100%;
  margin: 2px;
  z-index: -1;
  text-align: center;
  font-size: smaller;
}

#messagepopup {
  background-color: #ffffff;
  border: 1px solid #999999;
  cursor: default;
  display: none;
  margin-top: 15px;
  position: absolute;
  text-align: left;
  width: 80%;
  z-index: 50;
  padding: 25px 25px 20px;
}

#previewcontainer {
  padding: 5px 5px 5px;
  border: 1px solid #999999;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  /* background-color: white; */
  display: none;
  overflow: hidden;
}

label[for='labelholescw'],
label[for='lockdraft'],
label[for='addright'] {
  line-height: 60px;
}

#GREYSLIDER {
  width: 50%;
}

.selectionlist {
  display: flex;
  flex-direction: column;
}

.instructionlink {
  font-size: 200%;
  text-align: center;
  margin-bottom: 0em;
  margin-top: 0em;
  a {
    font-size: x-large;
    font-variant: small-caps;
  }
}

#textinstructions {
  display: inline-block;
  position: absolute;
  left: 400px;
  top: 200px;
  background-color: util.$text-background-color;
  border: util.$border;
  border-radius: util.$border-radius;
  padding: 5px 5px 5px;
}
