$background-color: hsl(42, 2%, 100%);
$text-color: black;
$text-background-color: white;
$text-border-color: black;
$control_background: hsl(0, 0%, 95%);
$active_highlight: hsl(0, 0%, 50%);
$border: 1px solid black;
$border-radius: 5px;
